<%- include('./partials/head') %>

<main>
    <div class="content_wrapper">
        <%- include('./partials/sideNav') %>

        <div class="main_content_wrapper">
            <div class="main_content">
            
                <!-- create propety section  -->
                <section class="form_section">
                    <div class="tab-buttons">
                        <button class="tab-button active" data-tab="tab1">Add Property</button>
                        <button class="tab-button" data-tab="tab2">View Property</button>
                    </div>

                    <div class="tab-content">
                        <%-  include('./partials/add-property') %>
                    </div>

                    <div class="tab-content">
                        <%-  include('./partials/view-property') %>
                    </div>
                </section>
            </div>
        </div>        
    </div>
</main>

                
<script>
    document.addEventListener('DOMContentLoaded', function () {
    const tabButtons = document.querySelectorAll('.tab-button');
    const tabContents = document.querySelectorAll('.tab-content');

    // Show the initial tab on page load
    showTab(0);

    tabButtons.forEach((button, index) => {
        button.addEventListener('click', function () {
        showTab(index);
        });
    });

    function showTab(index) {
        // Hide all tab contents
        tabContents.forEach(content => {
        content.classList.remove('active');
        });

        // Deactivate all tab buttons
        tabButtons.forEach(button => {
        button.classList.remove('active');
        });

        // Show the selected tab content and activate the button
        tabContents[index].classList.add('active');
        tabButtons[index].classList.add('active');
        }
    });
</script>
    
<%- include('./partials/footer')  %>