<%- include('./partials/head') %>

<main>
    <div class="content_wrapper">
        <%- include('./partials/sideNav') %>

        <div class="main_content_wrapper">
            <div class="main_content">
            
                <!-- create propety section  -->
                <section class="form_section">
                    <% if(!checkin) { %>
                        <h2>No checkins to Edit</h2>
                    <% } else { %>
                    <h2>Edit User checkins</h2>
                    <div class="form_wrapper">
                        <div class="form_container">
                            <form class="checkin_form" enctype="multipart/form-data">
                                <div class="input_group">
                                    <label for="checkins">select the checkins</label>
                                    <select name="checkins" id="checkins" required>
                                        <option selected disabled>Select checkins</option>
                                        <option value="old checkins" <%= checkin.checkins == 'old checkins' ? "selected" : '' %>>Old Checkins</option>
                                        <option value="new checkins" <%= checkin.checkins == 'new checkins' ? "selected" : '' %>>New Checkins</option>
                                    </select>
                                </div>
                
                                <div class="input_group">
                                    <label for="checkindate">Checkin date</label>
                                    <input id="checkindate" type="text" name="checkindate" placeholder="Jun. 17, 2023" value="<%= checkin.checkindate %>" required>
                                </div>
                
                                <div class="input_group">
                                    <label for="checkoutdate">Checkout date</label>
                                    <input id="checkoutdate" type="text" name="checkoutdate" placeholder="Jun. 17, 2023" value="<%= checkin.checkoutdate %>" required>
                                </div>
                
                                <div class="input_group">
                                    <label for="status">Checkin status</label>
                                    <select name="status" id="status" required>
                                         <option selected disabled>Select status</option>
                                        <option value="active" <%= checkin.status == 'active' ? "selected" : '' %>>active</option>
                                         <option value="setttled" <%= checkin.status == 'setttled' ? "selected" : '' %>>setttled</option>
                                    </select>
                                </div>
                
                                <div class="input_group">
                                    <button class="btn checkin_btn">Edit Checkins</button>
                                </div>
                            </form>
                        </div>
                    </div>
                <%} %>
                </section>
            </div>
        </div>
    </div>
</main>

<script type="module">

    import {notification, showSpinner, hideSpinner, closeNotification} from '/main/js/notification.js';
    toastBtn.addEventListener('click', () => closeNotification(toast));


    const queryStrings = new URLSearchParams(document.location.search)
    const checkinId = queryStrings.get('checkinId');

    const EditCheckinForm = document.querySelector('.checkin_form');
    const checkinBtn = document.querySelector('.checkin_btn');

   async function updateCheckinDetails(e) {
        e.preventDefault();

        try {

            showSpinner(checkinBtn)

            let formData = {
                checkins: EditCheckinForm.checkins.value,
                checkindate: EditCheckinForm.checkindate.value,
                checkoutdate: EditCheckinForm.checkoutdate.value,
                status: EditCheckinForm.status.value,
            }

            const response = await fetch(`/auth/admin/edit-checkin/${checkinId}`, {
                method: 'PUT',
                headers: {'Content-Type' : 'application/json'},
                body: JSON.stringify(formData)
            })

            if(!response.ok) {
                throw new Error('something went wrong, please try again')
            }

            const json = await response.json();

            if(json.error) {
                throw new Error(json.error)
            }

            if(json.success) {
                hideSpinner(checkinBtn, "Edit checkins")
                notification.success(json.message, toast, toastIcon, toastMessage, closeNotification);

                EditCheckinForm.reset();

                setTimeout(() => {
                    location.reload()
                }, 3000)
            }
            
        } catch (error) {
            hideSpinner(checkinBtn, "Edit checkins")
            notification.error(error.message, toast, toastIcon, toastMessage, closeNotification);
        }
    }

    EditCheckinForm.addEventListener('submit', updateCheckinDetails);
</script>