<style>

  .brand_logo img {
      width: 200px;
    }

  @media screen and (max-width: 767px) {
    .brand_logo img {
      width: 150px;
    }
    .home {
      display: none;
    }
  }
</style>
<header>

  <%- include("notification") %> 
  
  <nav class="nav_bar">
    <div class="brand_logo" >
      <a href="/"> <img src="/main/images/logo.png" alt="logo"></a>
    </div>

    <div class="nav_links">
      <ul>
        <li class="navlinks <%= title == 'omg'? 'active' : '' %>">
          <a href="/" class="link" >
            <img class="iamhn2w dir dir-ltr" src="/main/images/omg.jpeg" alt="omg" width="24" height="24">
            <div class="t1h65ots dir dir-ltr">
              <span class="t1trgdqu dir dir-ltr">OMG!</span>
            </div>
          </a>
        </li>

        <li class="navlinks <%= title == 'mansion'? 'active' : '' %>">
          <a href="/mansion" class="link">
            <img class="iamhn2w dir dir-ltr" src="/main/images/mansion.jpeg" alt="mansions" width="24" height="24">
            <div class="t1h65ots dir dir-ltr">
              <span class="t1trgdqu dir dir-ltr">Mansions</span>
            </div>
          </a>
        </li>

        <li class="navlinks <%= title == 'luxe'? 'active' : '' %>">
          <a href="/luxe" class="link">
            <img class="iamhn2w dir dir-ltr" src="/main/images/luxe.jpeg" alt="luxe" width="24" height="24">
            <div class="t1h65ots dir dir-ltr">
              <span class="t1trgdqu dir dir-ltr">Luxe</span>
            </div>
          </a>
        </li>

        <li class="navlinks <%= title == 'island'? 'active' : '' %>">
          <a href="/islands" class="link">
            <img class="iamhn2w dir dir-ltr" src="/main/images/island.jpeg" alt="island" width="24" height="24">
            <div class="t1h65ots dir dir-ltr">
              <span class="t1trgdqu dir dir-ltr">Islands</span>
            </div>
          </a>
        </li>

        <li class="navlinks <%= title == 'iconic-city'? 'active' : '' %>">
          <a href="/iconic" class="link">
            <img class="iamhn2w dir dir-ltr" src="/main/images/iconic.jpeg" alt="iconic" width="24" height="24">
            <div class="t1h65ots dir dir-ltr">
              <span class="t1trgdqu dir dir-ltr">Iconic</span>
            </div>
          </a>
        </li>

        <li class="navlinks <%= title == 'tropical'? 'active' : '' %>">
          <a href="/tropical" class="link">
            <img class="iamhn2w dir dir-ltr" src="/main/images/tropical.jpeg" alt="tropical" width="24" height="24">
            <div class="t1h65ots dir dir-ltr">
              <span class="t1trgdqu dir dir-ltr">Tropical</span>
            </div>
          </a>
        </li>
      </ul>
    </div>


    <div>
      <ul id="home">
        <li class="home">
          <a href="/" style="color: #ff385c;">Hostslet</a>
        </li>

        <li class="auth">
          <span class="open_close">
            <i class="fa-solid fa-bars hamburger"></i>
            <span class="profile_icon">
              <i class="fa-solid fa-user"></i>
            </span>
          </span>
          
          <div class="auth_container">
            <div class="login_wrapper">
              <div class="login_signup">
                <a href="/login">Login</a>
                <a href="/signup">Sign up</a>
              </div>

              <a style=" display: inline-block; margin-top: 30px; padding: 10px; font-weight: bold;" href="/">Hostslet your home</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="overlay"></div>
<!-- <div class="login_modal">
    <div class="form_wrapper">
        <span class="close_bar" ><i class="fa-solid fa-xmark"></i></span>
        <div class="login">
            <h2 style="text-align: center;">Log in</h2>
            <form class="login_form">
                <div class="input_group">
                    <label for="email">E-mail</label>
                    <input id="lemail" name="email" type="email">
                </div>

                <div class="input_group">
                    <label for="password">Password</label>
                    <input id="lpassword" name="password" type="password">
                </div>

                <p class="login_message"></p>

                <div class="input_group">
                    <button class="sigin_btn" type="submit">Continue</button>
                </div>
                <p>Don't have an account?  <a class="login_signup_link" href="/signup">Sign up</a></p>
            </form>
        </div>

       
        <div class="signup">
            <h2 style="text-align: center;">Sign up</h2>
            <form class="signup_form">
                <div class="input_group">
                    <label for="fname">First name</label>
                    <input id="fname" name="fname" type="text" required>
                </div>

                <div class="input_group">
                    <label for="lname">Last name</label>
                    <input id="lname" name="lname" type="text" required>
                </div>

                <div class="input_group">
                    <label for="email">E-mail</label>
                    <input id="email" name="email" type="email" required>
                </div>

                <div class="input_group">
                    <label for="number">phone number</label>
                    <input id="number" name="text" type="text" placeholder="+1(647)465-7856" required>
                </div>

                <div class="input_group">
                    <label for="gender">Gender</label>
                    <select name="gender" id="gender">
                      <option selected disabled>choose gender</option>
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                      <option value="other">Other</option>
                    </select>
                </div>

                <div class="input_group">
                    <label for="country">Country</label>
                    <input id="country" name="country" type="text" required>
                </div>

                <div class="input_group">
                    <label for="rcode">Property reference</label>
                    <input id="rcode" name="reference" type="text" placeholder="Enter property reference" required>
                </div>

                <div class="input_group">
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" required>
                </div>

                <div class="input_group">
                    <label for="password2">Confirm password</label>
                    <input id="password2" name="password2" type="password" required>
                </div>

                <p class="message"></p>

                <div class="input_group">
                    <button type="submit" class="reg_btn">Continue</button>
                </div>
                <p>Already have an account?  <a class="login_signup_link" href="/login">Login</a></p>
            </form>
        </div>
        
    </div>
</div> -->



  <script>

// const logins = document.querySelectorAll('.login_signup a');
const authModal = document.querySelector('.login_modal');
// const loginForm = document.querySelector('.login');
// const signup = document.querySelector('.signup');
// const closeBtn = document.querySelector('.close_bar .fa-xmark');
// const overlay = document.querySelector('.overlay');
// const loginSignupLinks = document.querySelectorAll('.login_signup_link');
// const loginUserForm = document.querySelector('.login_form');
// const signIn = document.querySelector('.sigin_btn');


const removeScroll = (e) => {
    window.scrollTo(0, 0)
}

// const displayAuthModal = (e) => {
//     e.preventDefault();
//     authModal.classList.add('show');
//     overlay.classList.add('show');
//     toggletopLoginModal();

//     window.addEventListener('scroll', removeScroll)

//     if(e.target.textContent.trim() == 'Login') {
//         signup.classList.remove('show');
//         loginForm.classList.add('show');
//     } else if(e.target.textContent.trim() == 'Sign up') {
//         loginForm.classList.remove('show');
//         signup.classList.add('show');
//     } else if(e.target.textContent.trim() == 'Host Now') {
//         loginForm.classList.remove('show');
//         signup.classList.add('show'); 
//     }
// }
// logins.forEach(login => {
//     login.addEventListener('click', displayAuthModal);
// })


// loginSignupLinks.forEach(loginSignupLink  => {
//     loginSignupLink.addEventListener('click', displayAuthModal)
// })

// function closeAuthModal() {
//     authModal.classList.remove('show');
//     loginForm.classList.remove('show');
//     signup.classList.remove('show');
//     overlay.classList.remove('show');
//     window.removeEventListener('scroll', removeScroll)
// }
// closeBtn.addEventListener('click', closeAuthModal);
// overlay.addEventListener('click', closeAuthModal);

// const topLoginModal = document.querySelector('.auth_container');
// function toggletopLoginModal() {
//     topLoginModal.classList.remove('show')
// }


    const hamburgerBtn = document.querySelector('.open_close');
    const loginModal = document.querySelector('.auth_container')

    const toggleLoginModal = (e) => {
      loginModal.classList.toggle('show')
    }
    hamburgerBtn.addEventListener('click', toggleLoginModal);


  </script>
