<div class="mobile_nav_links">
    <ul>
    <li class="navlinks <%= title == 'omg'? 'active' : '' %>">
          <a href="/" class="link" >
            <img class="iamhn2w dir dir-ltr" src="/main/images/omg.jpeg" alt="omg" width="24" height="24">
            <div class="t1h65ots dir dir-ltr">
              <span class="t1trgdqu dir dir-ltr">OMG!</span>
            </div>
          </a>
        </li>

        <li class="navlinks <%= title == 'mansion'? 'active' : '' %>">
          <a href="/mansion" class="link">
            <img class="iamhn2w dir dir-ltr" src="/main/images/mansion.jpeg" alt="mansions" width="24" height="24">
            <div class="t1h65ots dir dir-ltr">
              <span class="t1trgdqu dir dir-ltr">Mansions</span>
            </div>
          </a>
        </li>

        <li class="navlinks <%= title == 'luxe'? 'active' : '' %>">
          <a href="/luxe" class="link">
            <img class="iamhn2w dir dir-ltr" src="/main/images/luxe.jpeg" alt="luxe" width="24" height="24">
            <div class="t1h65ots dir dir-ltr">
              <span class="t1trgdqu dir dir-ltr">Luxe</span>
            </div>
          </a>
        </li>

        <li class="navlinks <%= title == 'island'? 'active' : '' %>">
          <a href="/islands" class="link">
            <img class="iamhn2w dir dir-ltr" src="/main/images/island.jpeg" alt="island" width="24" height="24">
            <div class="t1h65ots dir dir-ltr">
              <span class="t1trgdqu dir dir-ltr">Islands</span>
            </div>
          </a>
        </li>

        <li class="navlinks <%= title == 'iconic-city'? 'active' : '' %>">
          <a href="/iconic" class="link">
            <img class="iamhn2w dir dir-ltr" src="/main/images/iconic.jpeg" alt="iconic" width="24" height="24">
            <div class="t1h65ots dir dir-ltr">
              <span class="t1trgdqu dir dir-ltr">Iconic</span>
            </div>
          </a>
        </li>

        <li class="navlinks <%= title == 'tropical'? 'active' : '' %>">
          <a href="/tropical" class="link">
            <img class="iamhn2w dir dir-ltr" src="/main/images/tropical.jpeg" alt="tropical" width="24" height="24">
            <div class="t1h65ots dir dir-ltr">
              <span class="t1trgdqu dir dir-ltr">Tropical</span>
            </div>
          </a>
        </li>
    </ul>
</div>