<%- include('./partials/head') %>

<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .list_margin_top li {
        margin-top: 20px;
    }

    .content-wrapper {
        max-width: 320px;
        margin: auto;
        padding: 0 5px;
    }

    .potos_container {
        display: flex;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 200px 200px;
        height: 200px;
    }

    .property_desc_section {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        border-bottom: 0.1px solid rgba(0 ,0, 0, 0.3);
    }

    .other_features {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .apartment_details {
        flex-grow: 1;
    }

    .reservation_section {
         display: none;
    }

    .mobile_reservation_section {
        display: none;
        position: absolute;
        top: 70px;
        width: 85%;
        margin: auto;
        z-index: 9999;
    }

    .mobile_reservation_section.show {
        display: block;
    }

    .heading-section {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
        border-bottom: 0.1px solid rgba(0 ,0, 0, 0.3);
    }

    .heading-section h2 {
        flex-grow: 1;
    }

    .heading-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: grey;
    }

    .schedule-box {
        width: 400px;
        height: 400px;
        position: static;
        right: 40px;
        background: #fff;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.9);
        padding: 10px 20px;
        box-sizing: border-box;
        border-radius: 10px;
    }

    .mobile_schedule_box {
        max-width: 350px;
        height: auto;
        right: 40px;
        background: #fff;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.9);
        padding: 10px 20px;
        box-sizing: border-box;
        border-radius: 10px;
        margin: auto;
    }

    .amount_review {
        display: flex;
        justify-content: space-between;
    }

    .input_inner label {
        display: block;
        margin-bottom: 5px;
    }

    .input_inner input[type=date] {
        border-radius: 20px;
        border: 1px solid black;
        padding: 10px;
        outline: none;
    }

    .mobile_input_group input {
        width: 100%;
        margin: 5px 0;
        outline: none;
    }

    .amenities {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .show_amenities {
        padding: 10px 0;
        border: none;
        border: 1px solid black;
        border-radius: 5px;
        outline: none;
    }

    /* reviews section styls  */
    .reviews_section {
        padding: 20px 0;
    }

    .rating_percent {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
    }

    .rating_wrapper {
        flex-grow: 1;
    }

    .rating_wrapper ul li {
        display: flex;
        justify-content: space-between;
    }


    .progress {
        display: inline-block;
        width: 150px;
        height: 3px;
        background: #111;
        border-radius: 5px;
    }

    .testimonies {
        display: flex;
        overflow:  scroll;
        overflow-y: hidden;
        gap: 10px;
        width: 100%;
        margin: 10px 0;
    }

    .testimonies::-webkit-scrollbar {
        display: none;
    }

    .testimony {
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        padding: 10px;
        min-width: 280px;
    }

    .bio {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .bio_detail p, .bio_detail h4 {
        padding: 0;
        margin: 0;
    }

    .testimony_date {
        color: rgba(0 ,0, 0, 0.5);
    }

    .testifer_img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: gray;
        overflow: hidden;
    }

    .testifer_img img {
        width: 100%;
        height: 100%;
    }

    .actual_testimony {
        margin-top: 10px;
        height: 100%;
        overflow: scroll;
    }

    .host_main {
        display: f;
        margin-top: 20px;
    }

    .left_side {
        margin-bottom: 40px;
    }

    .left_side ul {
        display: flex;
        gap: 40px;
    }

    .left_side ul li{
        display: flex;
        align-items: center;
    }

    .host_desc p {
        margin-bottom: 10px;
    }

    main {
        position: relative;
    }

    .host_now_button_container button {
        border: none;
        outline: none;
        padding: 8px;
        background: #ff385c;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        border-radius: 10px;
        cursor: pointer;
    }
    .image_grid {
        position: relative;
    }

    .show_all_photo {
        position: absolute;
        display: none;
        bottom: 30px;
        right: 10px;
        z-index: 11;
    }

    .show_all_photo button{
        padding: 8px;
        border-radius: 5px;
        outline: none;
        border: 1px solid gray;
        background-color: #fff;
    }

    .show_all_photo_modal {
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px 5px;
        background: #fff;
        background: rgba(0 ,0, 0, 0.5);
        z-index: 99999999999999;
        cursor: pointer;
    }

    .show_all_photo_modal.show {
        display: block;
    }

    .show_wrapper {
        max-width: 350px;
        height: 100%;
        margin: auto;
        background: #fff;
        padding: 10px;
        overflow: scroll;
        transform: translateY(900px);
        transition: transform 0.3s linear;
    }

    .show_wrapper.show {
        transform: translateY(0);
    }

    .show_wrapper::-webkit-scrollbar {
        display: none; 
    }

    .photo_wwrapper {
        max-width: 320px;
        height: auto;
        margin: auto;
        margin-bottom: 10px;
    }

    .photo_wwrapper img {
        max-width: 100%;
        height: auto;
    }

    .pay_btns {
        background-color: #a2233b !important;
        border: none; outline: none; padding: 8px; border-radius: 10px;
    }


    @media screen and (max-width: 767px) {
        .images img {
            max-width: 100%;
            max-height: 100%;
        }

        .p_reference {
            display: none;
        }
    }


    @media screen and (min-width: 768px) {
        .content-wrapper {
            max-width: 1200px;
        }

        .show_all_photo {
            display: block;
        }

        .photo_wwrapper {
            max-width: 100%;
        }

        .show_wrapper {
            max-width: 700px;
        }

        .reservation_section {
            display: flex;
            justify-content: flex-end;
        }

        .mobile_reservation_section {
            display: none;
        }

        .other_features {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }


        .potos_container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 200px 200px;
            gap: 8px;
            height: auto;
            border-radius: 10px;
            overflow: hidden;
        }

        .images:nth-child(1) {
            grid-column: 1/3;
            grid-row: 1/3;
        }

        .images:nth-child(2) {
            grid-column: 3/4;
            grid-row: 1/2;
        }

        .images:nth-child(3) {
            grid-column: 4/5;
            grid-row: 1/2;
        }

        .images:nth-child(4) {
            grid-column: 3/4;
            grid-row: 2/2;
        }

        .images:nth-child(5) {
            grid-column: 4/5;
            grid-row: 2/2;
        }

        .images {
            height: 100%;
            overflow: hidden;
        }  

        .images img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }

        .rating_percent {
            gap: 80px;
        }

        .testimonies {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 80px;
            row-gap: 60px;
            overflow-x: unset;
        }

        .testimony {
            border: none;
        }

        .amenities {
            grid-template-columns: repeat(4, 1fr);
        }

        .host_main {
            display: flex;
        }

        .left_side {
            flex-grow: 1;
        }

        .right_side {
            flex-grow: 1;
        }
    }

</style>

<body class="with-new-header">
    <main>
        <%- include('./partials/header')  %>

        <div class="content-wrapper">
            <section class="image_grid">
                
                <div class="details_top" style="display: flex; justify-content: space-between;">
                    <h2><%= property.pname %></h2>
                    <div class="host_now_button_container" style="display: flex; align-items: center;">
                        <p class="p_reference" style="margin-right: 20px;">Reference: <%= property._id %></p>
                        <a href="/signup?hostslet=<%= randomString1 %>&dominant=<%=randomString2 %>&property_reference=<%=property._id %>">
                            <button class="host_now_btn" type="button">Host Now</button>
                        </a>
                    </div>
                </div>
                
                <div class="potos_container">
                    <% if(property.pimages) {%>
                        <%for(let i = 0; i < 5; i++) { %>
                            <div class="images one">
                                <img src="data:image/jpeg;base64,<%= property.pimages[i].url %>" alt="">
                            </div>
                        <% }}%>
                </div>
                <div class="show_all_photo">
                    <button class="show_all_btn">Show all photos</button>
                </div>
            </section>

            <section class="property_desc_section">
                <div class="apartment_details">
                    <div class="heading-section">
                        <h2>
                            <p style="font-size: 14px; margin-right: 20px;">Reference: <%= property._id %></p>
                            <span style="font-size: 14px; color: gray; font-weight: 300;"><%= property.guest %> . <%= property.bedroom %> . <%= property.bed %> . <%= property.bath %></span>
                        </h2>
                            
                        <!-- <img class="heading-img" src="/main/images/christopher.webp" alt=""> -->
         
                    </div>

                    <div style="margin: 20px 0;"> 
                        <h2>What this place offers</h2>
            
                    <ul class="list_margin_top other_features" style="padding-bottom: 20px; border-bottom: 0.1px solid rgba(0 ,0, 0, 0.3);">
                        <li>
                            <span style="display: flex; align-items: center; gap: 10px;">
                                <img src="/main/images/workspace.svg" alt="" style="width: 25px">
                                <span>Dedicated workspace <br> A room with wifi that’s well-suited for working.</span>
                            </span>
                        </li>

                        <li>
                            <span style="display: flex; align-items: center; gap: 10px;">
                                <img src="/main/images/checkin.svg" alt="" style="width: 25px">
                                <span>Self Check-in <br>Check yourself in with the keypad.</span>
                            </span>
                        </li>

                        <li>
                            <span style="display: flex; align-items: center; gap: 10px;">
                                <img src="/main/images/cancel.svg" alt="" style="width: 25px">
                                <span>Free cancellation for 48 hours.</span>
                            </span>
                        </li>
                    </ul>
                </div>

                    <div class="amenities_section">
                        
                        <ul class="amenities list_margin_top" style="margin: 20px 0; padding-bottom: 20px;">
                            <li>
                                <span style="display: flex; align-items: center; gap: 10px;">
                                    <img src="/main/images/garden_view.svg" alt="" style="width: 25px">
                                    <span>Garden view</span>
                                </span>
                            </li>

                            <li>
                                <span style="display: flex; align-items: center; gap: 10px;">
                                    <img src="/main/images/mountain_view.svg" alt="" style="width: 25px">
                                    <span>Mountain view</span>
                                </span>
                            </li>

                            <li>
                                <span style="display: flex; align-items: center; gap: 10px;">
                                    <img src="/main/images/beach-access.svg" alt="" style="width: 25px">
                                    <span>Beach access – Beachfront</span>
                                </span>
                            </li>

                            <li>
                                <span style="display: flex; align-items: center; gap: 10px;">
                                    <img src="/main/images/kitchen.svg" alt="" style="width: 25px">
                                    <span>Kitchen</span>
                                </span>
                            </li>

                            <li>
                                <span style="display: flex; align-items: center; gap: 10px;">
                                    <img src="/main/images/wifi.svg" alt="" style="width: 25px">
                                    <span>Wifi</span>
                                </span>
                            </li>

                            <li>
                                <span style="display: flex; align-items: center; gap: 10px;">
                                    <img src="/main/images/cancel.svg" alt="" style="width: 25px">
                                    <span>Dedicated workspace</span>
                                </span>
                            </li>

                            <li>
                                <span style="display: flex; align-items: center; gap: 10px;">
                                    <img src="/main/images/car.svg" alt="" style="width: 25px">
                                    <span>Free parking on premises</span>
                                </span>
                            </li>

                            <li>
                                <span style="display: flex; align-items: center; gap: 10px;">
                                    <img src="/main/images/hdm_tv.svg" alt="" style="width: 25px">
                                    <span>HDTV with standard cable, premium cable</span>
                                </span>
                            </li>

                            <li>
                                <span style="display: flex; align-items: center; gap: 10px;">
                                    <img src="/main/images/ac.svg" alt="" style="width: 25px">
                                    <span>AC - split type ductless system</span>
                                </span>
                            </li>

                            <li>
                                <span style="display: flex; align-items: center; gap: 10px;">
                                    <img src="/main/images/backyard.svg" alt="" style="width: 25px">
                                    <span>Shared backyard – Fully fenced</span>
                                </span>
                            </li>
                            <!-- <button class="show_amenities"> 59 other amenities</button> -->
                        </ul>
                
                    </div>
                </div>
            </section>

            <!-- reviews section starts here  -->
            <section class="reviews_section">
                <h2> <img src="/main/images/rating.svg" alt="rating"> <%= property.rating %>  · <%= property.review %> reviews </h2>
                <div class="rating_percent">
                    <div class="rating_wrapper">
                        <ul class="list_margin_top">
                            <li>
                                <span>Cleanliness</span>
                                <span>
                                    <span class="progress"></span>
                                    <span class="rates"> &nbsp; 4.9</span>
                                </span>
                            </li>

                            <li>
                                <span>Communication</span>
                                <span>
                                    <span class="progress"></span>
                                    <span class="rates"> &nbsp; 5.0</span>
                                </span>
                            </li>

                            <li>
                                <span>Check-in</span>
                                <span>
                                    <span class="progress"></span>
                                    <span class="rates"> &nbsp; 5.0</span>
                                </span>
                            </li>
                        </ul>
                    </div>

                    <div class="rating_wrapper">
                        <ul class="list_margin_top">
                            <li>
                                <span>Accuracy</span>
                                <span>
                                    <span class="progress"></span>
                                    <span class="rates"> &nbsp; 4.9</span>
                                </span>
                            </li>

                            <li>
                                <span>Location</span>
                                <span>
                                    <span class="progress"></span>
                                    <span class="rates"> &nbsp; 4.9</span>
                                </span>
                            </li>

                            <li>
                                <span>Value</span>
                                <span>
                                    <span class="progress"></span>
                                    <span class="rates"> &nbsp; 4.8</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="testimonies">
                    <% if(reviews.length > 0) { %>
                        <% reviews.map(({name,review, photo}) => { %>
                            <div class="testimony">
                                <div class="bio">
                                    <div class="testifer_img">
                                        <img src="data:image/jpeg;base64,<%= photo.url %>" alt="">
                                    </div>
                                    <div class="bio_detail">
                                        <h4><h4><%= name %></h4></h4>
                                        <p class="testimony_date"></p>
                                    </div>
                                </div>

                                <div class="actual_testimony">
                                    <p><%= review %></p>
                                </div>
                            </div>

                        <%})%>
                    <%} else {%>
                        <p>This property does not have any review yet</p>
                    <%} %>
                </div>
            </section>

            <div class="show_all_photo_modal">
                <div class="show_wrapper">
                    <% if(property.pimages) { %>
                        <% property.pimages.map(({url}) => {%>
                             <div class="photo_wwrapper">
                                <img src="data:image/jpeg;base64,<%= url %>" alt="">
                            </div>
                        <% }) %>
                    <%}%>
                </div>
            </div>

        </div>

    </main>


    <script>
        const closeBtnIcon = document.querySelector('.close_icon');
        const overLay = document.querySelector('.payment_overlay');

        const showAllPhotoBtn = document.querySelector('.show_all_btn');
        const showAllPhotoModal = document.querySelector('.show_all_photo_modal');
        const showAllPhotoWrapper = document.querySelector('.show_wrapper');

        // function to remove window from scrolling 
        function  stopScroll() {
            window.scrollTo(0, 0);
        }

        // show all photo function begins here 
        const showAllPhoto = (e) => {
            showAllPhotoModal.classList.add('show');
            showAllPhotoWrapper.classList.add('show');

            window.addEventListener('scroll', stopScroll)
        }

        const hideAllPhoto = (e) => {
            showAllPhotoModal.classList.remove('show');
            showAllPhotoWrapper.classList.remove('show');

            window.removeEventListener('scroll', stopScroll)
        }

        // show all photo function ends here 
        showAllPhotoBtn.addEventListener('click', showAllPhoto);
        showAllPhotoModal.addEventListener('click', hideAllPhoto);

        document.querySelector('.host_now_btn').addEventListener('click', displayAuthModal)
        
    </script>

    <script>
        // activate slick on mobile devices 
        $(document).ready(function() {
            function initSlick() {
                $('.potos_container').slick({
                speed: 300,
                autoplay: true,
                dots:true,
                arrows: true,
                infinite: true,
                });
            }

            function destroySlick() {
                if ($('.potos_container').hasClass('slick-initialized')) {
                    $('.potos_container').slick('unslick');
                }
            }

            // Initialize or destroy Slick based on screen width
            function handleSlick() {
                if ($(window).width() < 768) {
                initSlick();
                } else {
                destroySlick();
                }
            }

            $(window).on('load resize', handleSlick);
        });
            
    </script>

    <%- include('./partials/footer')  %>




