<%- include('./partials/head') %>
    
    <main>
        <div class="avatar_bio_wrapper">
            <h3>Profile</h3>
        </div>

        <div class="avatar_bio">
            <a href="/auth/users/profile">
                <div class="avtar">
                    <div class="imgae_container" style="z-index: 11111;">
                        <label for="p_image">
                            <% if(user.picture) { %>
                                <img src="data:image/png;base64,<%= user.picture.url %>" alt="">
                            <% } else { %>
                                <img src="/user/images/avatar.png" alt="">
                            <% } %>
                        </label>
                        <form class="profile_upload" enctype="multipart/form-data">
                            <input id="p_image" type="file" name="file" style="display: none;" class="change_profile">
                        </form>

                    </div>
                    <div class="name">
                        <p class="username"><%= user.firstname %></p>
                        <!-- <span class="show_profile">Show profile</span> -->
                        <% if(user.accountStatus == "active") {%>
                            <p class="show_profile">Status: <span style="color: green; font-size: 14px;"><%=  user.accountStatus%></span> </p>
                        <% } else { %>
                            <p class="show_profile">Status: <span style="color: red"><%=  user.accountStatus%></span> </p>
                        <% } %>
                        
                    </div>
                </div>
                <span ><i class="fa-solid fa-angle-up"></i></span>
            </a>
        </div>

        <div class="hostslet_home">
            <div class="content">
                <h2>hostslet your place</h2>
                <p>it's simple to get set up and start earning.</p>
            </div>
            <div class="home">
                <img src="/user/images/home.jpeg" alt="">
            </div>
        </div>

        <div class="account_info">
            <ul>
                <li>
                    <a href="/auth/users/personal-info">
                        <span class="profile_image">
                            <img src="/user/images/profile_icon.svg" alt="">
                            <p>Personal info</p>
                        </span>
                        <span><i class="fa-solid fa-angle-up"></i></span>
                    </a>
                </li>

                <li>
                    <a href="#" class="account_toggle">
                        <span class="profile_image">
                            <img src="/user/images/account.svg" alt="">
                            <p>Account</p>
                        </span>
                        <span><i class="fa-solid fa-angle-up icon_toggle"></i></span>
                    </a>
                    <ul class="account_submenu">
                        <li style="margin-left: 20px;">
                            <a href="/auth/users/payment">
                                <span class="profile_image">
                                    <img src="/user/images/payment.svg" alt="">
                                    <p>Payment</p>
                                </span>
                            </a>
                        </li>

                        <li style="margin-left: 20px;">
                            <a href="/auth/users/Widthdraw">
                                <span class="profile_image">
                                    <img src="/user/images/cashout.svg" alt="">
                                    <p>Widthdrawal</p>
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="/auth/users/transaction">
                        <span class="profile_image">
                            <img src="/user/images/history.svg" alt="">
                            <p>Transactions</p>
                        </span>
                        <span><i class="fa-solid fa-angle-up"></i></span>
                    </a>
                </li>

                <li>
                    <a href="#" class="checkins_toggle">
                        <span class="profile_image">
                            <img src="/user/images/payment.svg" alt="">
                            <p>Checkins</p>
                        </span>
                        <span><i class="fa-solid fa-angle-up checkins_toggle_icon"></i></span>
                    </a>
                    <ul class="checkin_submenu">
                        <li style="margin-left: 20px;">
                            <a href="/auth/users/old-checkins">
                                <span class="profile_image">
                                    <img src="/user/images/payment.svg" alt="">
                                    <p>Old Checkins</p>
                                </span>
                            </a>
                        </li>

                        <li style="margin-left: 20px;">
                            <a href="/auth/users/new-checkins">
                                <span class="profile_image">
                                    <img src="/user/images/payment.svg" alt="">
                                    <p>New Checkins</p>
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>

        <div class="account_info">
            <h2>Support</h2>
            <ul>
                <li>
                    <a href="/auth/users/help-center">
                        <span class="profile_image">
                            <img src="/user/images/help.svg" alt="">
                            <p>Visit the Help Center</p>
                        </span>
                        <span><i class="fa-solid fa-angle-up"></i></span>
                    </a>
                </li>

                <li>
                    <a href="/auth/users/how-it-works">
                        <span class="profile_image">
                            <img src="/user/images/hostslet.svg" alt="">
                            <p>How Hostslet works</p>
                        </span>
                        <span><i class="fa-solid fa-angle-up"></i></span>
                    </a>
                </li>
            </ul>
        </div>

        <style>
            .language_select {
                border-radius: 3px;
                border: none;
                outline: none;
                font-weight: bold;
            }
        </style>

        <div class="footer_section">
            <div class="lang_curreny">
                <span class="lang_section">
                    <img src="/user/images/lang.svg" alt="">
                    <!-- <select class="language_select" id="google_translate_element">

                    </select> -->
                    <div id="google_translate_element"></div>
                    
                </span>
                <span>
                    $&nbsp;USD
                </span>
            </div>

            

            <div class="button_section">
                <button class="user_logout" type="button">Log out</button>
            </div>

            <p class="copy">&copy 2023 Hostslet, Inc. All rights reserved.</p>
        </div>
    </main>

    <script>
        const logoutBtn = document.querySelector('.user_logout');
        const accountToggle = document.querySelector('.account_toggle');
        const accountSubMenu = document.querySelector('.account_submenu');
        const iconToggle = document.querySelector('.icon_toggle')

        const checkinsToggle = document.querySelector('.checkins_toggle');
        const checkinSubMenu = document.querySelector('.checkin_submenu');
        const checkinsIconToggle = document.querySelector('.checkins_toggle_icon')

        const logUserOut = async (e) => {

            try {
                const response = await fetch('/auth/users/logout', {
                    method: 'GET',
                    headers: {'Content-Type': 'application/json'}
                });

                if(!response.ok) {
                    throw new Error('something went wrong')
                }

                const json = await response.json();

                if(json.success) {
                    location.assign('/')
                }
            } catch (error) {
                alert(error.message);
            }
        }
        logoutBtn.addEventListener('click', logUserOut);

        const toggleAcount = (e) => {
            e.preventDefault();
            accountSubMenu.classList.toggle('show');
            iconToggle.classList.toggle('show')
        }
        accountToggle.addEventListener('click', toggleAcount);


        const toggleCheckins = (e) => {
            e.preventDefault();
            checkinSubMenu.classList.toggle('show');
            checkinsIconToggle.classList.toggle('show')
        }
        checkinsToggle.addEventListener('click', toggleCheckins);

        // make request to change profile picture 
        const changeProfile = document.querySelector('.change_profile');
        const profileUploadForm = document.querySelector('.profile_upload')


        // helper function to covert image to base64 
        function convertImageToBase64(file) {
                return new Promise((resolve, reject) => {
                    const reader = new FileReader();

                    reader.onloadend = function() {
                    resolve(reader.result);
                    };

                    reader.onerror = function(error) {
                    reject(error);
                    };

                    reader.readAsDataURL(file);
                });
            }

        const uploadNewProfieImage = async (e) => {
            e.preventDefault();

            const file = e.target.files[0];
            let profileUrl= {}

            await convertImageToBase64(file)
                .then(base64String => {
                    profileUrl = {
                        url: base64String
                    }
                })
                .catch(error => {
                    console.error(error);
                });

            try {
                const response = await fetch('/auth/users/changedp', {
                    method: 'POST',
                    body: new FormData(profileUploadForm)
                })

                if(!response.ok) {
                    throw new Error('something went wrong')
                }

                const json = await response.json()

                if(json.error) {
                    throw new Error(json.error)
                }

                if(json.success) {
                    location.reload()
                }
            } catch (error) {
                throw new Error(error.message)
            }
        }

        changeProfile.addEventListener('change', uploadNewProfieImage);



        // function to change website page begins here

    </script>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en', attribution: null,}, 'google_translate_element');
        }
    </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>