<%- include('./partials/head') %>
    
    <main>
        <div class="avatar_bio_wrapper">
            <div class="back">
                <a href="/auth/users/dashboard"><span><i class="fa-solid fa-angle-left"></i></span></a>
            </div>
            <h3>Payment</h3>
        </div>

        <div class="upload_section">
            <div class="payment_form_wrapper">
                <form class="payment_form" enctype="multipart/form-data">
                    <!-- <div class="input_group">
                        <label for="ref">property reference</label>
                        <input id="ref" type="text" name="reference" placeholder="enter property reference" required>
                    </div> -->

                    <div class="input_group">
                        <label for="ref">Amount of unit to purchase</label>
                        <input id="ref" type="text" name="unit" placeholder="" required>
                    </div>

                    <div class="input_group">
                        <label for="ref">Amount to pay</label>
                        <input id="ref" type="number" name="amount" required>
                    </div>

                    <div class="input_group">
                        <label for="ref">Payment method</label>
                        <select name="method" class="payment_method" required>
                            <option selected disabled>select payment method</option>
                            <option value="bitcoin">Bitcoin</option>
                            <option value="etherum">Ethereum</option>
                        </select>
                    </div>

                    <div class="payment_address">
                        <% if(wallets) { %>
                            <% wallets.map(({walletAssets, address, qrcode}) => { %>

                                <div class="<%= walletAssets %>">
                                    <h4><%= walletAssets %> wallet address</h4>
                                    <div class="<%= walletAssets %>_code">
                                        <img src="data:image/png;base64,<%= qrcode.url %>" alt="">
                                    </div>
                                    <div class="<%= walletAssets %>_address">
                                        <p><%= address %></p>
                                    </div>
                                </div>

                            <% })%>
                        <% } %>
                        
                    </div>

                    <div class="input_group">
                        <label for="proof">upload proof of payment</label>
                        <input id="proof" type="file" name="file" required>
                    </div>

                    <button class="btn payment_btn" type="submit" style="color: black;">Submit</button>
                </form>
            </div>
        </div>
    </main>


    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>

    <script>
        new DataTable('#payment');
    </script>

    <script type="module">
        import {notification, showSpinner, hideSpinner, closeNotification} from '/main/js/notification.js';
        toastBtn.addEventListener('click', () => closeNotification(toast));

        const paymentMethod = document.querySelector('.payment_method');
        const bitcoin = document.querySelector('.bitcoin');
        const etherum = document.querySelector('.etherum');

        const paymentForm = document.querySelector('.payment_form');
        const paymentBtn = document.querySelector('.payment_btn');

        const showPaymentWallet = (e) => {
            if(e.target.value === 'bitcoin') {
                bitcoin.classList.add('show');
                etherum.classList.remove('show');

            } else if(e.target.value === 'etherum') {
                etherum.classList.add('show');
                bitcoin.classList.remove('show');
            }
        }
        paymentMethod.addEventListener('change', showPaymentWallet)


    const handlePayment = async (e) => {
        e.preventDefault();

        // paymentBtn.textContent = 'Processing...'

        showSpinner(paymentBtn)

        try {
            const response = await fetch('/auth/users/payment', {
                method: 'POST',
                body: new FormData(paymentForm)
            })

            if(!response.ok) {
                throw new Error('Failed Please try again')
            }

            const json = await response.json()

            if(json.error) {
                throw new Error(json.error)
            }

            if(json.success) {
                paymentForm.reset()

                hideSpinner(paymentBtn,"Submit")
                notification.success(json.message, toast, toastIcon, toastMessage, closeNotification)
            }
        } catch (error) {
            hideSpinner(paymentBtn,"Submit")
            notification.error(error.message, toast, toastIcon, toastMessage, closeNotification)
        }
    }
    paymentForm.addEventListener('submit', handlePayment)
    </script>
</body>
</html>