<%- include('./partials/head') %>
    
    <main>
        <div class="avatar_bio_wrapper">
            <div class="back">
                <a href="/auth/users/dashboard"><span><i class="fa-solid fa-angle-left"></i></span></a>
            </div>
            <h3>Personal info</h3>
        </div>

        <div class="profile legal_name">
            <div class="detail">
                <h4 class="title">Legal name</h4>
                <p><%= user.firstname %> <%= user.lastname %> </p>
            </div>
            <div class="edit">
                <p class="edit_name">Edit</p>
            </div>

            <%- include('./partials/edit_name') %>
        </div>

        <div class="profile legal_email">
            <div class="detail">
                <h4 class="title">Email address</h4>
                <p><%= (user.email).slice(0, 3) %>*****<%= (user.email).slice(8) %></p>
                <p>
                    <% if(user.emailveirify) { %>
                        <span style="color: green">Email Verified</span>
                    <%} else { %>
                        <button class="btn verify_email_btn" data-user="<%= user._id %>">click here to verify email</button>
                    <%}%> 
                </p>
            </div>
            <div class="edit">
                <p class="edit_email">Edit</p>
            </div>

            <%- include('./partials/edit_email') %>
        </div>

        <div class="profile legal_number">
            <div class="detail">
                <h4 class="title">Phone no</h4>
                <% if(user.number) { %>
                    <p><%= (user.number).slice(0, 6) %>*****<%= (user.number).slice(8) %></p>
                <%} else { %>
                    <p>Add mobile number</p>
                <%} %>
                
            </div>
            <div class="edit">
                <p class="edit_number">Edit</p>
            </div>

            <%- include('./partials/edit_number') %>
        </div>

         <div class="profile legal_email">
            <div class="detail">
                <h4 class="title">Security</h4>
                <p>************</p>
            </div>
            <div class="edit">
                <p class="password_change">password</p>
            </div>

            <%- include('./partials/change_password') %>
        </div>

        <div class="profile legal_email">
            <div class="detail">
                <h4 class="title">Document</h4>
                <p>Verify your identity</p>
            </div>
            <div class="edit">
                <p class="document_upload">upload</p>
            </div>

            <%- include('./partials/upload_doc') %>
        </div>
    </main>

    <script>

        const nameEdit = document.querySelector('.edit_name');
        const nameEditForm = document.querySelector('.name_edit');

        const numberEdit = document.querySelector('.edit_number');
        const numberEditForm = document.querySelector('.number_edit');

        const emailEdit = document.querySelector('.edit_email');
        const emailEditForm = document.querySelector('.email_edit')

        const changePasswordForm = document.querySelector('.change_password');
        const changePasswordBtn = document.querySelector('.password_change');

        const uploadDocumentForm =document.querySelector('.upload_document')

        const edits = document.querySelectorAll('.edit p');

        const showForm = (e) => {
            if(e.target.classList.contains('edit_name')) {
                nameEditForm.classList.add('show');
                numberEditForm.classList.remove('show');
                emailEditForm.classList.remove('show');
                changePasswordForm.classList.remove('show');
                uploadDocumentForm.classList.remove('show')
                return

            } if(e.target.classList.contains('edit_number')) {
                numberEditForm.classList.add('show');
                emailEditForm.classList.remove('show')
                nameEditForm.classList.remove('show');
                changePasswordForm.classList.remove('show');
                uploadDocumentForm.classList.remove('show')
                return

            } else if(e.target.classList.contains('password_change')) {
                emailEditForm.classList.remove('show')
                nameEditForm.classList.remove('show');
                numberEditForm.classList.remove('show');
                changePasswordForm.classList.add('show');
                uploadDocumentForm.classList.remove('show')
                return
            } else if(e.target.classList.contains('document_upload')) {
                emailEditForm.classList.remove('show')
                nameEditForm.classList.remove('show');
                numberEditForm.classList.remove('show');
                changePasswordForm.classList.remove('show');
                uploadDocumentForm.classList.add('show')
                return
            } else {
                emailEditForm.classList.add('show')
                nameEditForm.classList.remove('show');
                numberEditForm.classList.remove('show');
                changePasswordForm.classList.remove('show');
                uploadDocumentForm.classList.remove('show')
                return
            }
        }

        edits.forEach(edit => {
            edit.addEventListener('click', showForm)
        });


        const resendEMailBtn = document.querySelector('.verify_email_btn')
        // function to resend verification email 
        const resendVerificationEmail = async (e) => {
            try {
                const response = await fetch('/auth/user/resend-email', {
                    method: "POST",
                    headers: {"Content-Type" : "application/json"}
                });

                if(!response.ok) {
                    throw new Error("Oops!, something went wrong");
                }

                const json = await response.json();

                if(json.error) {
                    throw new Error(json.error)
                }

                if(json.success) {
                    notification.success(json.message, toast, toastIcon, toastMessage, closeNotification)
                }
                
            } catch (error) {
                notification.error(error.message, toast, toastIcon, toastMessage, closeNotification)
            }
        }
        resendEMailBtn.addEventListener('click', resendVerificationEmail)

    </script>
</body>
</html>