<%- include('./partials/head') %>
    
    <main>
        <div class="avatar_bio_wrapper">
            <div class="back">
                <a href="/auth/users/dashboard"><span><i class="fa-solid fa-angle-left"></i></span></a>
            </div>
            <h3>Profile</h3>
            <%  if(!user.host) { %>
                <%- include('./partials/alert') %>
            <% } %>
        </div>

        <% if(user.host) { %>

            <div class="profile_overview">
            <div class="single_overview">
                <div class="detail">
                    <span><i class="fa-solid fa-money-check-dollar"></i></span>
                    <div class="amount_section">
                        <h5>Amount Paid</h5>
                        <p>$<%=user.deposit %></p>
                    </div>
                </div>
            </div>

            <div class="single_overview">
                <div class="detail">
                    <span><i class="fa-sharp fa-solid fa-money-bill-trend-up"></i></span>
                    
                   <div class="amount_section">
                        <h5>Profit</h5>
                        <p>$<%=user.profit %></p>
                    </div>
                </div>
            </div>

            <div class="single_overview">
                <div class="detail">
                    <span><i class="fa-solid fa-piggy-bank"></i></span>
                    <div class="amount_section">
                        <h5>Bonus</h5>
                        <p>$<%=user.bonus %></p>
                    </div>
                </div>
            </div>

            <div class="single_overview">
                <div class="detail">
                    <span><i class="fa-sharp fa-solid fa-coins"></i></span>
                    <div class="amount_section">
                        <h5>Unit</h5>
                        <p><%=user.unitAmount %> units</p>
                    </div>
                </div>
            </div>
            
        </div>

        <% } %>

    </main>


</body>
</html>