<%- include('./partials/head') %>
    
    <main>
        <div class="avatar_bio_wrapper">
            <div class="back">
                <a href="/auth/users/dashboard"><span><i class="fa-solid fa-angle-left"></i></span></a>
            </div>
            <h3>Profile</h3>
            <%  if(!user.host) { %>
                <%- include('./partials/alert') %>
            <% } else { %>

                <div class="tab-buttons">
                    <button class="tab-button active" data-tab="tab2">Financial</button>
                    <button class="tab-button" data-tab="tab3">Property</button>
                </div>

                <div class="tab-content">
                    <div class="profile_overview">
                        <div class="single_overview">
                            <div class="detail">
                                <span><i class="fa-solid fa-money-check-dollar"></i></span>
                                <div class="amount_section">
                                    <h5 style="text-align: right;">Amount Paid</h5>
                                    <p style="text-align: right;">$<%=Number(user.deposit).toLocaleString() %></p>
                                </div>
                            </div>
                        </div>

                        <div class="single_overview">
                            <div class="detail">
                                <span><i class="fa-sharp fa-solid fa-money-bill-trend-up"></i></span>
                                
                            <div class="amount_section">
                                    <h5 style="text-align: right;">Profit</h5>
                                    <p style="text-align: right;">$<%=Number(user.profit).toLocaleString() %></p>
                                </div>
                            </div>
                        </div>

                        <div class="single_overview">
                            <div class="detail">
                                <span><i class="fa-solid fa-piggy-bank"></i></span>
                                <div class="amount_section">
                                    <h5 style="text-align: right;">Bonus</h5>
                                    <p style="text-align: right;">$<%=Number(user.bonus).toLocaleString() %></p>
                                </div>
                            </div>
                        </div>

                        <div class="single_overview">
                            <div class="detail">
                                <span><i class="fa-sharp fa-solid fa-coins"></i></span>
                                <div class="amount_section">
                                    <h5 style="text-align: right;">Unit</h5>
                                    <p style="text-align: right;"><%=user.unitAmount %> units</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <style>
                    .propety_details {
                        display: grid;
                        grid-template-columns: repeat(1, 1fr);
                        gap: 20px;
                    }

                    .user-property {
                        flex-grow: 1;
                    }

                    .user-property-title {
                        font-weight: bold;
                        color: #222;
                    }

                    .user-property-doc {
                        color: #1e1e1e;
                        padding: 0;
                    }

                    .property-carousel {
                        display: flex;
                        gap: 20px;
                    }

                    .responsive {
                        display: flex;
                        max-width: 21.875rem;
                        margin: auto;
                        max-height: 25rem;
                        gap: 10px;
                    }

                    .responsive img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    @media screen and (min-width: 768px) {
                        .propety_details {
                            grid-template-columns: repeat(3, 1fr);
                        }

                        .large-show {
                            display: block;
                        }

                        .tab-buttons {
                            display: none;
                        }

                        .responsive {
                            max-width: 600px;
                        }
                    }
                </style>

                <div class="tab-content large-show" style="margin-top: 40px;">

                    <div class="property_carousel" style="margin-top: 20px;">
                        <% if(property) { %>
                            <% property.pimages.map(({url}) => { %>
                                <div class="responsive">
                                    <img src="data:image/png;base64,<%= url %>" alt="">
                                </div>
                            <%})%>
                        <%} %>

                    </div>

                    <div class="propety_details" style="margin-top: 20px;">
                        <div class="user-property">
                            <p class="user-property-title"> Name</p>
                            <p class="user-property-doc"><%= property.pname  %></p>
                        </div>

                        <div class="user-property">
                            <p class="user-property-title"> Location</p>
                            <p class="user-property-doc"><%= property.plocation  %></p>
                        </div>

                        <div class="user-property">
                            <p class="user-property-title"> Amount</p>
                            <p class="user-property-doc">$<%= Number(property.pamount).toLocaleString()  %></p>
                        </div>
                    </div>
                    
                </div>

            <% } %>

        </div>
    </main>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
        const tabButtons = document.querySelectorAll('.tab-button');
        const tabContents = document.querySelectorAll('.tab-content');

        // Show the initial tab on page load
        showTab(0);

        tabButtons.forEach((button, index) => {
            button.addEventListener('click', function () {
            showTab(index);
            });
        });

        function showTab(index) {
            // Hide all tab contents
            tabContents.forEach(content => {
            content.classList.remove('active');
            });

            // Deactivate all tab buttons
            tabButtons.forEach(button => {
            button.classList.remove('active');
            });

            // Show the selected tab content and activate the button
            tabContents[index].classList.add('active');
            tabButtons[index].classList.add('active');
            }
        });

    </script>
    

    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script>
        // activate slick on mobile devices 
        $(document).ready(function() {
            function initSlick() {
                $('.property_carousel').slick({
                speed: 300,
                autoplay: true,
                arrows: true,
                infinite: true,
                });
            }

            function destroySlick() {
                if ($('.property_carousel').hasClass('slick-initialized')) {
                    $('.property_carousel').slick('unslick');
                }
            }

            // Initialize or destroy Slick based on screen width
            function handleSlick() {
                initSlick();
            }

            handleSlick()

            $(window).on('load resize', handleSlick);
        });
            
    </script>
</body>
</html>