<div style="margin-top: 20px;">
   <table id="property" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="product-action">
            <% if(propertys) { %>
                <% propertys.map(({_id, pname, plocation, pamount}) => { %>
                    <tr>
                        <td><%= pname %></td>
                        <td><%= plocation %></td>
                        <td><%= pamount %></td>
                        <td><%= pamount %></td>
                        <td>
                           <div class="action-td">
                            <span class="edit-icon" data-id="<%= _id %>">
                                <a href="/auth/admin/edit?hostslet=<%= randomString1  %>&host=<%= randomString2 %>&property=<%= _id %>"><i class="fa-solid fa-pen-to-square"></i></a>
                            </span>
                            <span class="delete-icon"><i class="fa-solid fa-trash trash" data-id="<%= _id %>"></i></span>
                           </div>
                        </td>
                    </tr>
                <%}) %>
            <% } %>
        </tbody>
    </table>
</div>

<%- include('./footer')  %>

<script type="module">
    import {notification, showSpinner, hideSpinner, closeNotification} from '/main/js/notification.js';
    toastBtn.addEventListener('click', () => closeNotification(toast));

    const productAction = document.querySelector('.product-action');

    // delete product 
    const deleteProduct = async(e) => {
        if(e.target.classList.contain("trash")) {
            
            try {
                const propertyId = e.target.dataset.id;

                const response = await fetch(`/auth/admin/delete/${propertyId}`, {
                    method: "DELETE",
                    headers: {"Content-Type" : "application/json"}
                })

                if(!response.ok) {
                    throw new Error("something went wrong, please try again")
                }

                const json = response.json();

                if(json.errir) {
                    throw new Error(json.error)
                }

                if(json.success) {
                    notification.success(json.message, toast, toastIcon, toastMessage, closeNotification);

                    setTimeout(() => {
                        location.reload()
                    },3000)
                }

            } catch(error) {
                notification.error(error.message, toast, toastIcon, toastMessage, closeNotification);

                setTimeout(() => {
                    location.reload()
                },3000)
            }

        }
    }
    productAction.addEventListener('click', deleteProduct)


</script>



<script>
    $(document).ready(function () {
        $('#property').DataTable({
            scrollX: true,
        });
    });
</script>