    <!-- display all property section  -->
    <section class="table_section" style="margin-top: 40px;">
        <table id="withdraw" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Method</th>
                    <th>Address</th>
                    <th>Time</th>
                    <th>status</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody class="withdrawal_action_tab">
                <% if(withdraws.length > 0) { %>
                    <% for(let i = 0; i < withdraws.length ; i++) { %>
                        <tr>
                            <td>$<%= Number(withdraws[i].amount).toLocaleString() %> </td>
                            <td><%= withdraws[i].method %></td>
                            <td>
                                <p><%= withdraws[i].wallet %></p>
                            </td>
                            <td><%= withdraws[i].datetime %></td>
                            <td>
                                <% if(withdraws[i].status) { %>
                                    <p class="completed">Approved</p>
                                <%} else { %>
                                    <p class="pending"><%= withdraws[i].statusMessage === 'Rejected'? 'Rejected' : 'Pending' %></p>
                                <% } %>
                                
                                </td>
                            <td>
                                <button class="action_btn accept" style="background: green;" data-paymentid="<%= withdraws[i]._id %>">Approve</button>
                                <button class="action_btn reject" data-paymentid="<%= withdraws[i]._id %>">Reject</button>
                            </td>
                        </tr>
                <%  }
                } %> 

            </tbody>
        </table>

    </section>


<script type="module">
    import {notification, showSpinner, hideSpinner, closeNotification} from '/main/js/notification.js';
    toastBtn.addEventListener('click', () => closeNotification(toast));

    const modalWrapper = document.querySelector('.modal_wrapper');
    const withdrawwalActionTab = document.querySelector('.withdrawal_action_tab');

    
    // function to approve user payment 
    const approveWithdrawal = async (e) => {
        try {
            const paymentId = e.target.dataset.paymentid;
            
            if(e.target.classList.contains('accept')) {
                
                showSpinner(e.target)

                const response = await fetch(`/auth/admin/approve-withdraw/${paymentId}`, {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify()
                })

                if(!response.ok) {
                    throw new Error('something went wrong, please try again')
                }
                const json = await response.json();

                if(json.error) {
                    throw new Error(json.error)
                }

                if(json.success) {
                    hideSpinner(e.target, "Approve")
                    notification.success(json.message, toast, toastIcon, toastMessage, closeNotification);
                    location.reload()
                }

            } else if(e.target.classList.contains('reject')) {

                showSpinner(e.target)
                
                const response = await fetch(`/auth/admin/reject-withdraw/${paymentId}`, {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify()
                })

                if(!response.ok) {
                    throw new Error('something went wrong, please try again')
                }
                const json = await response.json();

                if(json.error) {
                    throw new Error(json.error)
                }

                if(json.success) {
                    hideSpinner(e.target, "Reject")
                    notification.error(json.message, toast, toastIcon, toastMessage, closeNotification);
                    location.reload()
                }
            }
            
        } catch (error) {
            if(e.target.classList.contains('accept')) {
                hideSpinner(e.target, "Approve")
                notification.error(error.message, toast, toastIcon, toastMessage, closeNotification);
            } else {
                hideSpinner(e.target, "Reject")
                notification.error(error.message, toast, toastIcon, toastMessage, closeNotification);
            }
        }
    }

    withdrawwalActionTab.addEventListener('click', approveWithdrawal)

</script>
    
